nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-tittle {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
}

.primary-color {
    color: #FD6E0A;
}

nav li {
    list-style: none;
    margin-right: 50px;


}

nav a {
    text-decoration: none;
}

.btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px 30px;

}

nav ul {
    align-items: center;
}

.header {
    background: #FFF8F3;
    padding: 0px 150px;
}

.banner {
    display: flex;
    align-items: center;
}

.banner-photo {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}